.card {
    border: none;
    padding: 0px;
}

.card .card-toolbar {
    margin-bottom: 0px;
}

.card .card-title {
    margin-bottom: 0px;
}

.mat-list {
    padding-top: 0px;
}

.mat-list-item {
    border-bottom: 1px solid darkgray;
    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }
}

.border {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}
